/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2021, 23:52:11
    Author     : Luis
*/

@font-face {

    src: url("/fonts/DS-DIGIB.TTF");
}

.root{
    -fx-background-color: white;
}

.temp{
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 8;
}

.numTemp{   
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: white; 
    -fx-font-weight: bold;
    -fx-font-size: 140px;
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#000000, #ffffff);

}
.nomTemp{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #E5E8E8;
    -fx-background-color: #626567;
    -fx-background-radius: 5;
}



.presion{

}
.numPresion{
     -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 100px; 
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#424949, #ffffff);
}

.nomPresion{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-background-color: #626567;
    -fx-text-fill: #E5E8E8;
}




.tiempo{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: #E5E8E8;
    -fx-font-weight: bold;
    -fx-font-size: 50px;

}




.direccion{  

}
.numDireccion{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 90px;  
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#424949, #ffffff);
}

.nomDireccion{
    -fx-font-family:  "Arial";
    -fx-text-fill: #E5E8E8;
    -fx-font-weight: bold;
    -fx-font-size: 15px;   
    -fx-background-radius: 5;
    -fx-background-color: #626567;
}




.velocidad{

}

.numVelocidad{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 110px;
    
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#424949, #ffffff);
}
.nomVelocidad{   
    -fx-font-family:  "Arial";
    -fx-text-fill: #E5E8E8;
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;   
    -fx-background-radius: 5;
    -fx-background-color: #626567;

}



.archivo{      
    -fx-text-fill: #E5E8E8;
}

.botones{
    -fx-text-transform: uppercase;
    -fx-background-color: #626567;
  }
.botones:hover{
    -fx-background-color: #D7DBDD;
}

.paneFondo{
    -fx-background-color: #212F3C;
    
}
.ejes{
    -fx-font-family:  "Arial";
    -fx-font-size: 13px;   
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.intervalo{
    -fx-text-fill: #E5E8E8;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 15px;      
}

.grafica{
    -fx-background-color: #797D7F;
    -fx-background-radius: 8;
    
}

.minutos{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
