/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2021, 23:52:11
    Author     : Luis
*/

@font-face {

    src: url("/fonts/DS-DIGIB.TTF");
}

.root{
    -fx-background-color: white;
}

.temp{
    -fx-border-color: grey;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 8;
}

.numTemp{   
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black; 
    -fx-font-weight: bold;
    -fx-font-size: 110px;   
}
.nomTemp{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}



.presion{
    -fx-border-color: grey;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 8;
}
.numPresion{
     -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 60px;  
}

.nomPresion{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}




.tiempo{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0; 
}




.direccion{  
    -fx-border-color: grey;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 8;
}
.numDireccion{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 90px;  
}

.nomDireccion{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;    
}




.velocidad{
    -fx-border-color: grey;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 8;
}

.numVelocidad{
        -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 90px;   
}
.nomVelocidad{   
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;    
}



.archivo{      
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
}

.botones{
    -fx-text-transform: uppercase;
    -fx-background-color: transparent;
  }
.botones:hover{
    -fx-background-color: #E5E7E9;
}

.paneFondo{

}