/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2021, 23:52:11
    Author     : Luis
*/

@font-face {

    src: url("/fonts/DS-DIGIB.TTF");
}

.root{
    -fx-background-color: white;
}

.temp{
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 8;
}

.numTemp{   
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black; 
    -fx-font-weight: bold;
    -fx-font-size: 140px;
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#acf3ff, #ffffff);

}
.nomTemp{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-color: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
}



.presion{

}
.numPresion{
     -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 100px; 
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#a4ff6b, #ffffff);
}

.nomPresion{
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
}




.tiempo{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 50px;

}




.direccion{  

}
.numDireccion{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 90px;  
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#fff300, #ffffff);
}

.nomDireccion{
    -fx-font-family:  "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 15px;   
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
}




.velocidad{

}

.numVelocidad{
    -fx-font-family:  "DS-Digital";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 110px;
    
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#ff3d3d, #ffffff);
}
.nomVelocidad{   
    -fx-font-family:  "Arial";
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;   
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;

}



.archivo{      

}

.botones{
    -fx-text-transform: uppercase;
    -fx-background-color: transparent;
  }
.botones:hover{
    -fx-background-color: #ffffff;
}

.paneFondo{
    -fx-background-color: #EBF5FB;
    
}
